*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 18px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: crimson;
}



.navbar .arrow{
    color: #fff;
    font-size: 20px;
    
}

.navbar .nav .logo{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    
}





.services, .testimonials{
    color: #fff;
    background: #111;
}
.services .title::before,
.testimonials .title::before{
    background: #fff;
}
.services .title::after,
.testimonials .title::after{
    background: #111;
    content: "SQL";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}


.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*  ABOUT  */

.About{
    font-family: 'Ubuntu', sans-serif;
}
.About .container{
    display: flex;
    justify-content: center;

}

.About .images{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    

}

.About .container .top{
    display: flex;
    justify-content: center;
    text-align: center;
}

.About .container .top .text p{
    font-size: 25px;
    margin-bottom: 3%;
}

.About .container .top .text{
    width: 60%;
}

.About .images .startscreen{
    display: flex;
    justify-content: center;

}

.About .images .startscreen img{
    width: 60%;
    height: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}






section{
    padding: 100px 0;
}
.about, .services, .skills, .testimonials, .contact{
    font-family: 'Poppins', sans-serif;
}

.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}